/* app css stylesheet */

header {
    right: 0.7em;
    top: 0.7em;
    position: fixed;
    z-index: 3;
}

footer {
    right: 0.7em;
    bottom: 0.7em;
    position: fixed;
    z-index: 3;
}

header img, footer img {
    width: 120px;
}

section {
    text-align: center;
    padding-top: 10em;
    margin-right: 130px;
}

section h1 {
    font-size: 4em;
    font-family: monospace;
}

section ul {
    text-align: left;
}

section li {
    background-color: lightgrey;
    list-style: none;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
}

section li .element {
    padding: 3px;
}

section li .element.name {
    font-weight: bold;
}

.hl {
    background-color: yellow;
}
