<!DOCTYPE html>
<html ng-app="angularIn1Day">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Angular In 1 Day</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <header>
    <img src="images/angular_icon.png" alt="Angular"/>
  </header>

  <section ng-controller="cardController">
    <h1>Angular In 1 Day</h1>
      <input type="text" ng-model="inputText"/>
      <button ng-click="search = inputText">Search</button>
      <ul>
          <li class="item" ng-repeat="card in cards | filter: search">
              <div class="element name" ng-bind-html="card.name | highlight: search"></div>
              <div class="element text" ng-bind-html="card.text | highlight: search"></div>
              <div class="element artist" ng-bind-html="card.artist | highlight: search"></div>
          </li>
      </ul>

  </section>

  <footer>
    <img src="images/Contour-logo.png" alt="Contour Technology"/>
  </footer>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
</body>
</html>
